<h2>Cart show</h2>
  <% @cart.line_items.each do |line_item| %>
  <div class="product_in_cart">
    <b><%= line_item.product.name %> <span style="float: right"><%= number_to_currency(line_item.product.price) %></span></b>
      <div class="quantity">
        <span>Quantity:</span>
        <span><%= button_to "+", line_item_add_path(:id => line_item), method: :post %></span>
        <span><%= line_item.quantity %></span>
        <span><%= button_to "-", line_item_reduce_path(:id => line_item), method: :post%></span>
      </div>
      <%= link_to "Remove item", line_item_path(line_item), method: :delete %>
  </div>
  <% end %>
<h3>Sub total: <%= number_to_currency(@cart.sub_total) %></h3>
<%= link_to "Proceed to checkout", new_order_path %><br>
<%= link_to "Empty cart", cart_path(@current_cart),method: :delete, data: {confirm: "Are you sure?"}%>