<h2><%= @product.name %> - <%= number_to_currency(@product.price) %></h2>
<%= button_to "Add to cart", line_items_path(:product_id => @product.id), :method => "post" %>
<img src = '<%= @product.image %>' height = '500px' class='product_image' >
<p>Description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<small>Created: <%=@product.created_at.day%>/<%=@product.created_at.month%>/<%=@product.created_at.year%></small><br>Product of <b><%= link_to @product.shop.name, ('/shops/'+(@product.shop.id).to_s) %></b>
<h3>Reviews</h3>
<% @product.reviews.each do |review|%>
<div class="review">
    <div>
        <img src = 'https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg' height = '75px' > 
    </div>
    <div>
        <h4><%= review.user.username %></h4>
        <p><%= review.content %></p>
        <small>Posted: XX/XX/XXXX</small>
    </div>
</div>
<% end %>